.dialog-frame.ner-configuration {
  max-width: 500px;
  
  .dialog-body {
    overflow-y: auto;
    max-height: 300px;
  }
  
  fieldset {
    input {
      margin: 0 -10px 0;
      width: 385px;
    }
  }
}
